/*
 My color scheme:
Dark Grey #463F3A
Grey #8A817C
Light Grey #BCB8B1
Black #000000
Cream #A5A5AF
Peach #E0AFA0
White #FFFFFF
*/

/*Section: Basic CSS*/
body{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
}
h1{
	font-size: 48px;
	font-variant: small-caps;
	text-shadow: 2px 2px #A5A5AF;
}
h2{
	font-size: 32px;
	font-variant: small-caps;
}
h3{
	font-size: 24px;
	font-variant: small-caps;
}
h4{
	font-size: 20px;
	font-variant: small-caps;
    color: #000000;
}

/*Section: Utility Classes*/
.center{
	text-align: center;
}
div.center{
	margin: auto;
	padding: 10px;
}
img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.fit{
	border-radius: 8px;
	max-width: 50%;
	max-height: auto;
}
img.logo{
	border-radius: 8px;
	max-width: 5%;
	max-height: auto;
}

/*Section: Website Layout*/
.header{
	background-color: #E0AFA0;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
}
.column{
	float:left;
}

/*Left and right column*/
.column.side{
	background-color: #9099A2;
	color: #000000;
	width: 23%;
	padding: 1%;
	height: 650px;
}

/* Middle column*/
.column.middle{
	background-color: #96858F;
	color: #000000;
	width: 48%;
	padding: 1%;
	height: 650px;
}
.column.footer{
	background-color: #76323F;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
}


/* Section: Style HTML links for emails
a.email:link, a.email:visited {
    background-color: #C0B283;
    color: #373737;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
a.email:hover, a.email:active {
    background-color: #373737;
	color:#F4F4F4;
}
div.email {
    margin: auto;
    width: 80%;
}
*/
/* Section: Navigation Menu*/
ul.nav{
	list-style-type: none;
	margin: 5%;
	padding: 0;
	width: 100%;
	background-color: #a01a58;
	color: #96858F;
	font-size: 18px;
}
li.nav {
    float: left;
  }
li.nav a {
	display: block;
	color: #000000;
	padding: 8px 16px;
	text-decoration: none;
	margin-left: 5%;
	margin-right: 5%;
}
/* Change the link color on hover*/
li.nav a:hover{
	background-color: #E0AFA0;
	color: #FFFFFF;
}
/* table border and formatting */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
